# Python-related
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Django-specific
db.sqlite3
*.sqlite3
/staticfiles/
media/

# VS Code
.vscode/

# OS-specific
.DS_Store

# Git-specific
*.log
*.bak
*.swp
*.swo
